{
  "env": {
    "browser": true,
    "node": true
  },
  "globals": {
    "document": false
  },
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "modules": true,
      "experimentalObjectRestSpread": true
    }
  },
  "extends": ["eslint:recommended"],
  "rules": {
    "comma-dangle": 0,
    "no-unused-vars": "error",
    "no-unexpected-multiline": "error"
  }
}
